.col-lg-2.categories
  カテゴリ
  .list-group
    - Category.all.each do |c|
      %button.list-group-item.list-group-item-action{:type => "button"}
        = c.category
        -# TODO 検索機能実装時に使用する。
        -# = link_to c.category,forum_path(f),{class: "list-group-item list-group-item-action",type: "button"}
