- if user_signed_in?
  .col-lg-2.my-forums
    マイスレッド
    .list-group
      - current_user.forums.order(id: "DESC").each do |f|
        = link_to f.title,forum_path(f),{class: "list-group-item list-group-item-action",type: "button"}

