.col-lg-2.my-forums
  マイスレッド
  .list-group
    %button.list-group-item.list-group-item-action{:type => "button"}
      Cras justo odio
    %button.list-group-item.list-group-item-action{:type => "button"} Dapibus ac facilisis in
    %button.list-group-item.list-group-item-action{:type => "button"} Morbi leo risus
    %button.list-group-item.list-group-item-action{:type => "button"} Porta ac consectetur ac