.container-fluid.top-page
  .row
    .col-lg-2.categories
      カテゴリ
      .list-group
        %button.list-group-item.list-group-item-action{:type => "button"}
          Cras justo odio
        %button.list-group-item.list-group-item-action{:type => "button"} Dapibus ac facilisis in
        %button.list-group-item.list-group-item-action{:type => "button"} Morbi leo risus
        %button.list-group-item.list-group-item-action{:type => "button"} Porta ac consectetur ac

    .col-lg-8.main-box
      .list-group
        %a.list-group-item.list-group-item-action{:href => "#"}
          .d-flex.w-100.justify-content-between
            %h5.mb-1 List group item heading
            %small 3 days ago
          %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          %small Donec id elit non mi porta.
        %a.list-group-item.list-group-item-action{:href => "#"}
          .d-flex.w-100.justify-content-between
            %h5.mb-1 List group item heading
            %small.text-muted 3 days ago
          %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          %small.text-muted Donec id elit non mi porta.
        %a.list-group-item.list-group-item-action{:href => "#"}
          .d-flex.w-100.justify-content-between
            %h5.mb-1 List group item heading
            %small.text-muted 3 days ago
          %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          %small.text-muted Donec id elit non mi porta.

    .col-lg-2.my-forums
      マイスレッド
      .list-group
        %button.list-group-item.list-group-item-action{:type => "button"}
          Cras justo odio
        %button.list-group-item.list-group-item-action{:type => "button"} Dapibus ac facilisis in
        %button.list-group-item.list-group-item-action{:type => "button"} Morbi leo risus
        %button.list-group-item.list-group-item-action{:type => "button"} Porta ac consectetur ac