// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//

.navbar {
  margin-bottom: 2em;
  background-color: lightskyblue;
  color: white;
  &__title,
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.w {
  .categories {
    height: calc(100vh - 72px);
  }
  .main-box {
    height: calc(100vh - 72px);
  }
  .my-forums {
    height: calc(100vh - 72px);
  }
}

// forum#show画面
.forum-list {
  overflow-y: scroll;
  height: calc(100% - 300px);
  &__response {
    margin-bottom: 4em;
  }
}
.forum-form {
  position: absolute;
  bottom: 2em;
  width: 90%;
}

.validate-message {
  color: red;
  font-weight: 700;
  display: none;
}
.create-forum-form__input-category--box {
  margin-right: 1em;
}
